@import "tailwindcss";

@import "starlight-site-graph/styles/variables.css";


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

ul {
    font-size: large;
    padding-left: 1.5em;
}

p,
li {
    font-size: large
}

h1 {
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: x-large;
    font-weight: bold;
}

h3 {
    font-size: large;
    font-weight: bold;
}

h4 {
    font-size: medium;
    font-weight: bold;
}

a {
    text-decoration: underline;
}


hr {
    margin: 3em;

    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, currentColor, transparent);
}

&[data-theme=dark] hr {
    background-image: linear-gradient(to right, transparent, #fff, transparent);
}

pre {
    border-radius: 6px;
    /* slight rounding */
    padding: 14px;
    /* inner padding */
    background-color: #f4f4f4;
    /* optional: to distinguish the block */
    overflow: auto;
    /* optional: handle long content gracefully */
}