---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <form
        name="contact"
        action="https://formspree.io/f/xayrbyzk"
        method="POST"
        class="max-w-xl mt-20 mx-auto p-6 bg-gray-100 dark:bg-neutral-800 rounded-xl shadow-md space-y-6"
    >
        <p class="space-y-2">
            <label
                for="email"
                class="block text-gray-900 dark:text-gray-100 font-semibold"
                >Your email:</label
            >
            <input
                type="email"
                id="email"
                name="email"
                placeholder="Let me know how to best respond to you!"
                required
                class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-700 text-gray-900 dark:text-gray-100 placeholder-gray-500 dark:placeholder-gray-400"
            />
        </p>
        <p class="space-y-2">
            <label
                for="message"
                class="block text-gray-900 dark:text-gray-100 font-semibold"
                >Your message:</label
            >
            <textarea
                id="message"
                name="message"
                placeholder="Send me a message or a service inquiry!"
                class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-700 text-gray-900 dark:text-gray-100 placeholder-gray-500 dark:placeholder-gray-400"
            ></textarea>
        </p>
        <div class="text-center">
            <button
                type="submit"
                class="px-6 py-3 rounded-md bg-neutral-200 dark:bg-neutral-600 dark:text-gray-100 font-semibold hover:opacity-70 hover:cursor-pointer"
            >
                Send
            </button>
        </div>
    </form>

    <div class="max-w-xl mx-auto mt-12 text-gray-900 dark:text-gray-100">
        <h1 id="my-links" class="text-2xl font-bold mb-4">My Links</h1>
        <ul class="list-disc list-inside space-y-2">
            <li>
                <a
                    href="https://www.linkedin.com/in/coltonl/"
                    class="underline hover:text-gray-700 dark:hover:text-gray-300"
                    >LinkedIn</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/C-Loftus"
                    class="underline hover:text-gray-700 dark:hover:text-gray-300"
                    >Github</a
                >
            </li>
            <li>
                <a
                    href="https://talonvoice.slack.com/team/U02S1LGCH9A"
                    class="underline hover:text-gray-700 dark:hover:text-gray-300"
                    >Talon Slack (@Colton Loftus)</a
                >
            </li>
        </ul>
    </div>
</Layout>
