---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <table class="mx-10">
        <thead>
            <tr>
                <th class="px-4 py-2">Link</th>
                <th class="px-4 py-2">Skill</th>
                <th class="px-4 py-2">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="border px-4 py-2"
                    ><a href="https://github.com/coltonloftus/astro-website"
                        >Website Source</a
                    ></td
                >
                <td class="border px-4 py-2">Astro</td>
                <td class="border px-4 py-2">Source code for this website.</td>
            </tr>
            <tr>
                <td class="border px-4 py-2"
                    ><a href="https://github.com/coltonloftus/astro-website"
                        >Website Source</a
                    ></td
                >
                <td class="border px-4 py-2">Tailwind CSS</td>
                <td class="border px-4 py-2">Used for styling this website.</td>
            </tr>
            <tr>
                <td class="border px-4 py-2"
                    ><a href="https://github.com/coltonloftus/astro-website"
                        >Website Source</a
                    ></td
                >
                <td class="border px-4 py-2">TypeScript</td>
                <td class="border px-4 py-2">Used for typing this website.</td>
            </tr>
        </tbody>
    </table>
</Layout>
