---
import { getImage } from "astro:assets";
import PortfolioGrid from "../components/Grid";
import { openSourceContributions, portfolioItems } from "../data/portfolio";
import CenteredText from "../layouts/CenteredText.astro";

const resolvedPortfolioItems = await Promise.all(
  portfolioItems.map(async ({ media, ...item }) => ({
    ...item,
    media: media ? (await getImage({ src: media, format: "webp" })).src : "",
  })),
);

const resolvedOpenSourceContributions = await Promise.all(
  openSourceContributions.map(async ({ logo, ...item }) => ({
    ...item,
    logo: logo ? (await getImage({ src: logo, format: "webp" })).src : "",
  })),
);
---

<CenteredText frontmatter={{}}>
  <h1>Open Source Portfolio</h1>
  <center class="pt-8">
    <i
      >For more, please see my <a href="https://github.com/c-loftus">GitHub</a
      ></i
    >
  </center>

  <nav
    aria-label="Jump to portfolio sections"
    class="mt-4 flex flex-wrap justify-center gap-x-4 gap-y-2 text-sm text-neutral-600 dark:text-neutral-300"
  >
    <a
      href="#projects"
      class="underline decoration-neutral-300 underline-offset-4 hover:decoration-current dark:decoration-neutral-600"
    >
      Projects
    </a>
    <a
      href="#open-source-contributions"
      class="underline decoration-neutral-300 underline-offset-4 hover:decoration-current dark:decoration-neutral-600"
    >
      Contributions
    </a>
  </nav>
  <PortfolioGrid
    client:load
    portfolioItems={resolvedPortfolioItems}
    openSourceContributions={resolvedOpenSourceContributions}
  />
</CenteredText>
