---
import ThemeIcon from "./ThemeIcon.astro";
import GraphIcon from "../assets/graph.svg";
const currentPath = Astro.url.pathname;
---

<div class="flex items-center justify-between w-full px-8 pt-8">
  <div class="flex items-center gap-2">
    <p class="text-2xl">
      <a href="/" class="!no-underline"> Colton Loftus </a>
    </p>
    <ThemeIcon />
    <button>
      <GraphIcon
        id="graph-toggle"
        class="cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-700 p-2 rounded"
      />
    </button>
  </div>
  <nav class="overflow-x-auto">
    <ul class="navbar flex gap-2">
      {
        [
          { path: "/about", name: "About" },
          { path: "/contact", name: "Contact" },
          { path: "/services", name: "Services" },
          { path: "/portfolio", name: "Portfolio" },
          { path: "/writings", name: "Writings" },
        ].map(({ path, name }) => (
          <li>
            <a
              href={path}
              class={currentPath === path ? "underline" : "!no-underline"}
            >
              {name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const graphBtn = document.getElementById("graph-toggle");

    // Handle button click
    graphBtn?.addEventListener("click", () => {
      const showing = localStorage.getItem("graph-showing") === "true";
      const newValue = (!showing).toString();
      localStorage.setItem("graph-showing", newValue);

      window.dispatchEvent(
        new CustomEvent("graph-toggle", { detail: newValue }),
      );
    });
  });
</script>
