---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="flex items-center justify-between w-full px-8 pt-8">
    <div class="flex items-center gap-2">
        <p class="text-xl">
            <a href="/"> Colton Loftus </a>
        </p>
        <ThemeIcon />
    </div>
    <nav>
        <ul class="navbar flex gap-2">
            <li><a href="/about" class="underline">About</a></li>
            <li><a href="/contact" class="underline">Contact</a></li>
            <li><a href="/services" class="underline">Services</a></li>
            <li><a href="/portfolio" class="underline">Portfolio</a></li>
            <li><a href="/writings" class="underline">Writings</a></li>
        </ul>
    </nav>
</div>
