---
import Layout from "./Layout.astro";
---

<Layout>
    <div
        class="[&>p]:text-center [&>p]:pt-8 [&>p]:text-xl max-w-4xl mx-auto p-6 sm:p-8 lg:p-12"
    >
        <slot />
    </div>
</Layout>
