---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Themes from "astro-themes";
import { PageGraph, PageBacklinks } from "starlight-site-graph/components";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta
			name="description"
			content="The personal website of Colton Loftus"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>colton.place</title>
		<Themes defaultTheme="dark" />
	</head>
	<body>
		<div
			style="
			border-top: 10px solid;
			border-image-source: linear-gradient(90deg,#5d2f86,#8ed6fb 50%,#08e756);
			border-image-slice: 1;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
		"
		>
		</div>
		<Header />
		<PageGraph />
		<!-- <PageBacklinks /> -->

		<main>
			<slot />
		</main>
	</body>
</html>
