<!-- <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
<div id="comment-section"></div>
<style>
  :root {
    --cactus-button-color: var(--tertiary);
    --cactus-button-text-color: var(--content);
    --cactus-login-form-text-color: var(--content);
    --cactus-background-color--strong: var(--secondary);

  }
</style>
<script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "",
    commentSectionId: "{{ index .Params 0 }}"
  })
</script> -->